@import 'variable.scss';

.todo {
  display: flex;
  justify-content: center;

  &__wrapper {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;

    width: 81.25%;
    min-width: 41.4rem;
    max-width: 67.8rem;
    padding: 36.7rem 0 0 0;

    background-color: #fff;
  }
}

.todo-header {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;

  width: 100%;
  height: 36.7rem;

  background-color: $primary-color;

  &__wrapper {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;

    width: 81.25%;
    min-width: 41.4rem;
    max-width: 67.8rem;

    background-color: $primary-color;
  }
}

.todo-logo {
  position: relative;

  display: flex;
  align-items: center;
  flex: 1 1 100%;
  justify-content: center;

  box-sizing: content-box;
  height: 9.3rem;
  margin: 9rem 0 0 0;

  &__title {
    font-family: 'Bellota', -apple-system, sans-serif;
    font-size: 7.4rem;

    padding: 0 2.5rem;

    text-align: center;

    background-image: url('/images/ic_header_bar.svg');
    background-repeat: no-repeat;
    background-position: bottom 1.5rem center;
    background-size: 31rem 1.6rem;
  }
  &__profile {
    position: absolute;
    top: 50%;
    left: .5rem;

    display: flex;
    align-items: center;

    transform: translate(0, -50%);

    &-image {
      flex: 0 0 4.2rem;

      height: 4.2rem;

      border-radius: 50%;
    }
    &-nickname {
      font-size: 1.4rem;
      font-weight: 700;

      margin: 0 0 0 1rem;

      white-space: nowrap;

      &::after {
        font-size: 1.2rem;
        font-weight: 400;

        margin: 0 0 0 .4rem;

        content: '님';
      }
    }
  }
  &__button {
    &--logout {
      font-size: 0;

      position: absolute;
      top: 50%;
      right: .5rem;

      width: 4.2rem;
      height: 4.2rem;

      transform: translate(0, -50%);

      border-radius: 50%;
      background-color: $defalut-color;
      background-image: url('/images/ic_logout.svg');
      background-repeat: no-repeat;
      background-position: right .67rem center;
      background-size: 2.3rem 2.3rem;
    }
  }
}

.todo-register {
  position: relative;

  display: flex;
  flex: 1 1 100%;

  margin: 2.3rem 0 0 0;

  &__input {
    font-family: $default-font;
    font-size: 2rem;

    flex: 1;

    height: 5.4rem;
    padding: 1.4rem 5.4rem 1.4rem 2.5rem;

    letter-spacing: -1px;

    border-radius: 2.75rem;
    background-color: #fff;

    &::placeholder {
      color: $secondary-color;
    }
  }
  &__button {
    font-size: 0;

    position: absolute;
    top: 50%;
    right: .5rem;

    width: 4.4rem;
    height: 4.4rem;

    transform: translate(0, -2.2rem);

    border: 2px solid $defalut-color;
    border-radius: 50%;
    background-color: $primary-color;
    background-image: url('/images/ic_plus.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.5rem 2.5rem;
  }
}

.todo-filter {
  display: flex;
  align-items: center;
  flex: 1 1 100%;

  height: 8.7rem;
  margin: 2rem 0 0 0;

  border-radius: 5rem 5rem 0 0;
  background-color: #fff;

  $todo-filter: &;

  &__button {
    font-size: 0;

    flex: 1;

    height: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.4rem auto;

    &:first-child {
      background-image: url('/images/ic_all_list.svg');
    }
    &:last-child {
      background-image: url('/images/ic_checked_list.svg');
    }
  }
  &__status {
    position: relative;

    flex: 0 0 7.5rem;

    height: 3.7rem;

    border: 2px solid $defalut-color;
    border-radius: 1.85rem;

    &::after {
      position: absolute;
      top: -.4rem;
      left: -.2rem;

      box-sizing: border-box;
      width: 4.1rem;
      height: 4.1rem;

      content: '';
      transition: transform .35s ease-in-out, background-image .35s step-end;
      transform: translate(0, 0);

      border: 2px solid $defalut-color;
      border-radius: 50%;
      background-color: $primary-color;
      background-image: url('/images/ic_all.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  &--all {
    #{$todo-filter}__button {
      &:first-child {
        background-image: url('/images/ic_all_list_active.svg');
      }
    }
  }
  &--done {
    #{$todo-filter}__button {
      &:last-child {
        background-image: url('/images/ic_checked_list_active.svg');
      }
    }
    #{$todo-filter}__status::after {
      transform: translate(3.4rem, 0);

      background-image: url('/images/ic_done.svg');
    }
  }
}

@include for-tablet-below {
  .todo {
    &__wrapper {
      padding: 36rem 0 0 0;
    }
  }

  .todo-header {
    height: 36rem;
  }

  .todo-logo {
    margin: 0;
    padding: 9rem 0 0 0;

    &__profile {
      top: 2.7rem;

      transform: translate(0, 0);

      &-image {
        flex: 0 0 4rem;

        height: 4rem;
      }
    }

    &__button {
      &--logout {
        top: 2.7rem;

        width: 4rem;
        height: 4rem;

        transform: translate(0, 0);
      }
    }
  }

  .todo-filter {
    height: 8rem;

    $todo-filter: &;

    &__button {
      &:first-child {
        background-size: 2.25rem auto;
      }
      &:last-child {
        background-size: 1.92rem 1.92rem;
      }
    }

    &__status {
      flex: 0 0 7rem;

      height: 3.5rem;

      border-radius: 1.75rem;

      &::after {
        width: 3.9rem;
        height: 3.9rem;
      }
    }
  }
}

@include for-mobile-only {
  .todo {
    &__wrapper {
      max-width: 41.4rem;
    }
  }

  .todo-header {
    &__wrapper {
      width: 100%;
      min-width: 0;
      max-width: 41.4rem;
    }
  }

  .todo-logo {
    height: 5.8rem;
    padding: 14.2rem 0 0 0;

    &__title {
      font-size: 4.6rem;

      padding: 0 1rem;

      background-position: bottom .8rem center;
      background-size: 19rem 1rem;
    }
    &__profile {
      top: 3rem;
      left: 3rem;
    }

    &__button {
      &--logout {
        top: 3rem;
        right: 3rem;

        background-position: right .72rem center;
        background-size: 2.1rem 2.1rem;
      }
    }
  }

  .todo-register {
    margin: 1rem 2rem 0;

    &__input {
      font-size: 1.6rem;

      height: 5rem;
      padding: 1.4rem 5.4rem 1.4rem 2.5rem;

      border-radius: 2.5rem;
    }
    &__button {
      width: 4rem;
      height: 4rem;

      transform: translate(0, -2rem);

      background-size: 2.3rem 2.3rem;
    }
  }
}

.todo-item {
  width: 100%;
  height: 9.8rem;

  background-color: #fff;
}
