@import "./index.scss";
@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@700&display=swap");

$goggle-icon: "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28'%3e%3cdefs%3e%3cstyle%3e.a%7bfill:%23fbbd00%3b%7d.b%7bfill:%230f9d58%3b%7d.c%7bfill:%2331aa52%3b%7d.d%7bfill:%233c79e6%3b%7d.e%7bfill:%23cf2d48%3b%7d.f%7bfill:%23eb4132%3b%7d%3c/style%3e%3c/defs%3e%3cpath class='a' d='M6.562%2c108.735a7.392%2c7.392%2c0%2c0%2c1%2c1.046-3.8v-4.72H2.889a14.007%2c14.007%2c0%2c0%2c0%2c0%2c17.039h4.72v-4.72A7.392%2c7.392%2c0%2c0%2c1%2c6.562%2c108.735Z' transform='translate(0 -94.735)'/%3e%3cpath class='b' d='M199.281%2c374%2c196%2c377.283l3.281%2c3.281a13.894%2c13.894%2c0%2c0%2c0%2c8.52-2.889v-4.715h-4.715A7.437%2c7.437%2c0%2c0%2c1%2c199.281%2c374Z' transform='translate(-185.281 -352.565)'/%3e%3cpath class='c' d='M57.543%2c325.477l-4.72%2c4.72a14.224%2c14.224%2c0%2c0%2c0%2c1.212%2c1.38%2c13.909%2c13.909%2c0%2c0%2c0%2c9.9%2c4.1v-6.562A7.441%2c7.441%2c0%2c0%2c1%2c57.543%2c325.477Z' transform='translate(-49.934 -307.677)'/%3e%3cpath class='d' d='M270%2c200.533a14.121%2c14.121%2c0%2c0%2c0-.229-2.536l-.123-.673H256v6.563h6.642a7.4%2c7.4%2c0%2c0%2c1-2.837%2c3.043l4.715%2c4.715a14.225%2c14.225%2c0%2c0%2c0%2c1.38-1.212A13.908%2c13.908%2c0%2c0%2c0%2c270%2c200.533Z' transform='translate(-242 -186.533)'/%3e%3cpath class='e' d='M204.54%2c8.741l.58.58%2c4.64-4.64-.58-.58a13.908%2c13.908%2c0%2c0%2c0-9.9-4.1L196%2c3.281l3.281%2c3.281A7.389%2c7.389%2c0%2c0%2c1%2c204.54%2c8.741Z' transform='translate(-185.281 0)'/%3e%3cpath class='f' d='M63.933%2c6.562V0a13.909%2c13.909%2c0%2c0%2c0-9.9%2c4.1%2c14.211%2c14.211%2c0%2c0%2c0-1.212%2c1.38l4.72%2c4.72a7.441%2c7.441%2c0%2c0%2c1%2c6.391-3.638Z' transform='translate(-49.933 0)'/%3e%3c/svg%3e";
$kakao-icon: "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='25' height='22.916' viewBox='0 0 25 22.916'%3e%3cdefs%3e%3cstyle%3e.a%7bfill:%233e2723%3b%7d.b%7bfill:%23ffeb3b%3b%7d%3c/style%3e%3c/defs%3e%3cpath class='a' d='M12.5%2c1C5.6%2c1%2c0%2c5.383%2c0%2c10.791c0%2c3.5%2c2.34%2c6.564%2c5.859%2c8.295-1.748%2c5.989-2.775%2c6.378%2c4.421%2c1.341a15.991%2c15.991%2c0%2c0%2c0%2c2.22.154C19.4%2c20.58%2c25%2c16.2%2c25%2c10.79S19.4%2c1%2c12.5%2c1Z' transform='translate(0 -1)'/%3e%3cg transform='translate(3.034 6.841)'%3e%3cpath class='b' d='M10.534%2c8.3a1.011%2c1.011%2c0%2c0%2c0-1.922%2c0c-1.025%2c3.179-2.4%2c5.141-1.554%2c5.527%2c1.123.509%2c1.147-.636%2c1.416-1.146h2.2c.268.507.294%2c1.654%2c1.416%2c1.146C12.935%2c13.438%2c11.578%2c11.538%2c10.534%2c8.3ZM8.852%2c11.409l.721-2.032.72%2c2.032Z' transform='translate(-2.751 -7.566)'/%3e%3cpath class='b' d='M5.467%2c13.935c-1.248%2c0-.51-1.726-.721-4.94-.447-.077-1.833.309-1.833-.7a.705.705%2c0%2c0%2c1%2c.707-.7c2.623.187%2c4.4-.49%2c4.4.7%2c0%2c1.028-1.328.615-1.833.7C5.979%2c12.2%2c6.713%2c13.935%2c5.467%2c13.935Z' transform='translate(-2.913 -7.567)'/%3e%3cpath class='b' d='M13.183%2c13.828c-1.207%2c0-.473-1.63-.691-5.522a.736.736%2c0%2c0%2c1%2c1.472%2c0v4.208c.7.093%2c2.224-.344%2c2.224.656C16.187%2c14.22%2c14.546%2c13.695%2c13.183%2c13.828Z' transform='translate(-2.515 -7.566)'/%3e%3cpath class='b' d='M19.692%2c13.621%2c18%2c11.4l-.25.249v1.562a.719.719%2c0%2c0%2c1-.722.717c-1.253%2c0-.5-1.8-.721-5.617a.72.72%2c0%2c0%2c1%2c.721-.717c1.089%2c0%2c.619%2c1.54.721%2c2.256%2c2.042-1.951%2c1.993-2.158%2c2.412-2.158a.682.682%2c0%2c0%2c1%2c.549%2c1.1l-1.644%2c1.632%2c1.775%2c2.336A.719.719%2c0%2c0%2c1%2c19.692%2c13.621Z' transform='translate(-2.356 -7.566)'/%3e%3c/g%3e%3c/svg%3e";
.Login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: $primary-color;

  .logo {
    position: relative;
    font-size: 0;
    margin-bottom: 4rem;
    &:before {
      content: "TO-DOs";
      position: relative;
      font: {
        family: "Bellota", serif;
        size: 7.8rem;
      }
      line-height: 1;
      z-index: 20;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0.8rem;
      left: 50%;
      width: 105%;
      height: 1rem;
      background-color: #fff;
      transform: translate(-50%, 0);
      z-index: 10;
    }
  }

  .social-login {
    &__button {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 55rem;
      height: 5rem;
      border-radius: 5rem;
      padding: 0.5rem;
      font-size: 1.8rem;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0.5rem;
        display: block;
        width: 4.1rem;
        height: 4.1rem;
        border-radius: 50%;
        transform: translate(0, -50%);
      }
      &--goggle {
        background-color: #fff;
        margin-bottom: 1.5rem;
        &:before {
          background: {
            color: #fff;
            size: 2.8rem;
            image: url($goggle-icon);
            repeat: no-repeat;
            position: center;
          }
        }
      }
      &--kakao {
        background-color: #3e2723;
        color: #ffeb3b;
        &:before {
          background: {
            color: #ffeb3b;
            size: 2.8rem;
            image: url($kakao-icon);
            repeat: no-repeat;
            position: center;
          }
        }
      }
    }
  }
}

@include for-tablet-below {
  .Login {
    .logo {
      &:before {
        font-size: 7.4rem;
      }
    }
    .social-login {
      position: absolute;
      left: 5rem;
      bottom: 8rem;
      right: 5rem;
      &__button {
        width: 100%;
      }
    }
  }
}

@include for-mobile-only {
  .Login {
    .logo {
      &:before {
        font-size: 4.6rem;
      }
      &:after {
        bottom: 0.3rem;
      }
    }
  }
}
